language: go
go:
- 1.11.x
env:
  global:
  - GO111MODULE=on

script:
- go test -v -cover
- go build -v -ldflags "-X main.Revision=${TRAVIS_JOB_ID}" -o bin/certpress .

deploy:
  provider: releases
  skip_cleanup: true
  file: bin/certpress
  api_key:
    secure: HadaXdiAInT9FYXElUAJJ1U8gaXXAPaReyO0oD88HZ0TZPdPwv14CXmxbuA8k9VT6raX2U8sEMRpPZWLs6zA4O3v211ChblSv9oTseOz3uf9b1orPnPfGQR6cpS+RZ2crYYCIupfNHzPBN8BnJAHldVsNNUv55WkEerWIos8v4TOtsGlHsytptnVPBdHIvW+wuEdhIOCgo1L1HMNiFnG0AZTXeK8NY8Bf3DVud2jyZ4y/gEWXJIGr7jCxr2LGVYLl54hJlUqXqyhqYuvPY/fEQACGRGqMsFu1rj+PJBYuYe/2gOwxzEOreIr4gIW1qgvAP8oXwm2aWsOoxF6aq3j7peGGoQB1i9hwIa2oZerZAPrbfunWeW+sN1O+uZaNtxgJxq0HSa5V2pS2Ahd9C+drYlrOKVomVHL+mDjzd/gMTZApbzfvdiaEmHqMb1EWvbuKAyYC/vr1GL7U02sf2lj1j1fVFkry71LvHb5byCm4jslSmBpCV7GlUrJ6x6xCArUD93aM3LKZAhlac/v7vZgrLijtXB+J27l5KftNp0R9NtJGxRVKqMr+19OkhxlqEi+mHJn3kmr/QK42YP6GXGq5PrqbDUW1emCGMF1ma+izEGpuZq1qzdEg4A08z5fHLj/3h0qci4bY7U4trIQtluPvMBLPP0pd66p7zJyTatRwQ0=
  on:
    repo: dylanmei/certpress
    branch: master
    tags: true
